# Project information
site_name: 'Documentation - mtz.gr'
site_description: 'Docs related to mtz.gr'
site_author: 'mtz.gr'
site_url: 'https://kb.mtz.gr/'

# Repository
# (SPECIFY FOR PUBLIC EDITABILITY)
# repo_name: 'andrewjmetzger/kb.mtz.gr'
# repo_url: 'https://github.com/andrewjmetzger/kb.mtz.gr/'

# Copyright
copyright: 'Copyright &copy; 2018, 2021'

# Configuration
theme:
  name: 'material'
  theme_dir: 'mkdocs-material/material'
  language: 'en'
  palette:
    primary: 'white'
    accent: 'black'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
